/* Margins */
.me-10 {
    margin-right: 50px !important;
    padding-right: 50px;
  }
  
  .mb-10 {
    margin-bottom: 10px !important;
  }
  
  .mb-20 {
    margin-bottom: 20px !important;
  }
  
  .mb-30 {
    margin-bottom: 30px !important;
  }
  
  .mb-40 {
    margin-bottom: 40px !important;
  }
  
  .mb-50 {
    margin-bottom: 50px !important;
  }
  
  .mb-60 {
    margin-bottom: 60px !important;
  }
  
  .mb-70 {
    margin-bottom: 70px !important;
  }
  
  .mb-80 {
    margin-bottom: 80px !important;
  }
  
  .mb-90 {
    margin-bottom: 90px !important;
  }
  
  .mb-100 {
    margin-bottom: 100px !important;
  }
  
  .mt-30{
    margin-top: 30px !important;
  }
  
  .zindex-1 {
    z-index: 1;
  }
  
  .top-100 {
    top: 100px;
  }
  