
.overflow-hidden {
  overflow: hidden;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.border-primary {
  border-color: #5AB51E !important;
}

/* snipcart */
.snip-layout .snip-layout__main-container {
  top: 100px;
}

.snip-header__title {
  color: #fff;
}
